
body {
  margin: 20;
  padding: 20;
}

h1 {
  color: green;
  font-style: italic;
}

.blog {
  color: grey;
  padding-top: 5px;
  font-size: 15px;
}

.clickedBlog, defaultVisibilityBlog, clickableBlog, loginForm, blogForm{
  margin-left: 0px;
}

.error {
  color: rgb(255, 0, 0);
  background: rgb(255, 255, 255);
  font-size: 15px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  border-width: 2px;
}

.success {
  color: rgb(20, 117, 0);
  background: rgb(255, 255, 255);
  font-size: 15px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  border-width: 2px;
}

.blogs {
  margin-left: 10px;
}

.wrapper {
  margin-top: 10px;
  padding-top: 5px;
  padding-left: 2px;
  display: grid;
  grid-template-columns: 800px 150px;
  border-style: solid;
  border-width: 1px;
}

li {
  list-style-type: circle
}